/* base.css */

:root {
--cubeborder:1pt solid #ccc;
}

html, body {height:98%;}

body {
background: #f4f4f4;
margin: 0 .5em;
padding: 0;
}

b,code,pre,tt {color:#000080}
code,tt {white-space: pre;}
code,pre,tt {font-size:1.1em}

pre {
background:#fffaf4;
border:1pt solid #aebdcc;
padding:5pt
}

h1,h2,h3 {
color:#015293;
font-family:sans-serif;
font-size:1em;
border-bottom:2px solid silver;
margin-top:1.2em;
margin-bottom:0.5em;
line-height:1.3
}

img {
display: block;
margin-left: auto;
margin-right: auto;
}

.tdb {
background: #f0f0ff;
}

/* cube ------------------------------------------------------------ */
.cube {
font-family: helvetica, sans-serif;
font-size: 0.9em;
border-collapse:collapse;
}

.cube td, .cube th {
padding:3px 7px 3px 7px;
border: 1px solid #ccc;
}

.cube td {
background-color: #fff;
text-align: right;
white-space:nowrap;
}

.cube .tdalt {
background-color: #dde;
}

.cube th {
background:#f4f0ec;
font-weight:normal;
text-align:center;
vertical-align: top;
}

/* d3  ------------------------------------------------------------- */
path {
stroke-width: 1.5;
fill: none;
}

text {
font-family: Arial;
font-size: smaller;
}

.axis line {
stroke: #000;
stroke-opacity: 0.1;
stroke-width: 1;
shape-rendering: crispEdges;
}

.axis path {
fill: none;
stroke: #000;
stroke-opacity: .1;
stroke-width: 1;
}

.axis text {
font-size: larger;
}

.y.axis path {
fill: none;
stroke: #000;
stroke-opacity: .5;
stroke-width: 1;
}

.raxis {
stroke: #000;
stroke-opacity: .5;
stroke-width: 1;
}

.bar {
fill:steelblue;
}

.dots.active {
fill: blue;
}

.fsmaller {
font-family: sans-serif;
font-size: smaller;
}

.label {
font-weight: bold;
}

.legend .series {
cursor: pointer;
}

.legend {
cursor: pointer;
}

.legend circle {
stroke-width: 2px;
}

.legend .disabled circle {
fill-opacity: 0;
}

.line.hover {
stroke-width: 4px;
}

.svg {
display:block;
width:100%;
height:100%;
background:white;
}

tip.tooltip {
color: #fff;
font-size: smaller;
font-weight: bold;
position: absolute;
height: 34px;
padding: 6px 10px 6px 10px;
font: 14px sans-serif;
background: #004;
border: 0px;
border-radius: 4px;
pointer-events: none;
}

#page2select:focus, #page3select:focus {
outline:none;
}

/* cube ----------------------------------------------------------- */
.cubeall table {
border-collapse:collapse;
border-spacing:0px;
border:0;
margin:0;
padding:0;
}

.cubeall td, .cubeall th {
vertical-align: top;
white-space: nowrap;
width:40px;
}

.cubeall td {
text-align:right;
}

.cubehdr {
padding: 1px 3px;
}

.cubehdrrws {
border-right:var(--cubeborder);
flex:auto;
}

.cubehdrcls {
flex:auto;
}

.cubehdrslice {
border-bottom:var(--cubeborder);
}

.cubehdrtop {
background-color:#e4e8ea;
border:var(--cubeborder);
}

#cubepane {
display:flex;
flex-direction:column;
}

#cubetab {
display:inline-block;
margin:0;
padding:0;
position:relative;
overflow:auto;
}

/* ---------------------------------------------------------------- */
.modal {
position:fixed;
padding-top: 50px;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0,0,0,0.1);
}

.modal-content {
background-color: #f4f4f4;
border: 1px solid #aaa;
margin: auto;
padding: 10px 20px;
width: 90%;
}

.close {
color: #888;
float: right;
font-size: 20px;
font-weight: bold;
text-decoration: none;
}

.close:hover, .close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

/* slices --------------------------------------------------------- */
/* btnslicer - for the grid buttons, slicerbtn for the slicer form */
.btnslicerarrow:hover {
cursor:pointer;
}

.btnslicertext:hover {
cursor:move;
}

.btnslicer:not(:hover) {
background-color:#eee;
}

.btnslicer {
padding-right:1px;
margin:3px 3px 0px 2px;
border:1px solid #aaa;
}

.slicerselbtn {
background-color:white;
border:1px solid #ccc;
border-radius:2px;
padding:2px 5px;
}

.slicerselbtn:focus {
outline: none;
}

#slicersel {
background:#f4f4f4;
display:flex;
flex-direction:column;
font-family:sans-serif;
font-size: .9em;
margin:0px;
padding:0px;
border:1px solid #444;
position: absolute;
}

#slicerseltop {
background:#fff;
text-align:center;
padding-top:10px;
padding-bottom:10px;
}

#slicerselmid {
border-top:1px solid #ddd;
border-bottom:1px solid #ddd;
padding:5px 10px 1px 10px;
flex:1;
height:100%;
overflow-y:auto;
}

#slicerselend {
background:#fff;
padding-top:10px;
padding-bottom:10px;
text-align:center;
}

